.specificationCard{
    width: 11%;
    padding: 20px;
    background-color: white;
    height: 5%;
    margin: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    text-align: center;
    font-size: .7em;
    font-weight: 600;
}

.specificationCard > img{
    aspect-ratio: 1/1;
    object-fit: contain;
}
.specificationCard > span{
    padding: 8px;
    border-radius: 12px;
    color: white;
}
img{
    height: 30%;
    width: 100%;
}